[
    {hello_world, []},
    {awre, [
        {erlbin_number, 15},
        {agent, notifications_service}
    ]},
    {wamp_service, [
        {callee_dispatcher, [
            %% wamp opts
            {hostname, "localhost"},
            {port, 18082},
            {realm, <<"com.leapsight.bondy">>},
            {encoding, erlbin},
            {reconnect, true},
            {retries, infinity},
            {callbacks, [
                {procedure, <<"com.leapsight.hello.hi">>, {hello_wamp, say_hi}}
            ]}
        ]},
        {caller_service, [
            %% wamp opts
            {hostname, "localhost"},
            {port, 18082},
            {realm, <<"com.leapsight.bondy">>},
            {encoding, erlbin},
            {reconnect, true},
            {retries, infinity}
        ]}
    ]}
].

