ebin
log
logs
.idea
.rebar3
_build
_checkouts
_vendor
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
*.dump
.rebar
*.iml
*.crashdump

# Bondy Config
/bondy/etc/generated/
/bondy/etc/security_config.json
