{erl_opts, [debug_info]}.
{deps, []}.
{shell, [
    {apps, [hello_world]}
]}.
{relx,
    [{release, {hello_world, "0.0.1"},
        [kernel,
            sasl,
            hello_world
        ]},
        {dev_mode, false},
        {include_src, false},
        {include_erts, true},
        {extended_start_script, true},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.
