{erl_opts, [debug_info]}.
{minimum_otp_vsn, "24"}.
{deps, [
  lager,
  msgpack,
  {wamp_service, {git, "https://github.com/fer-c/wamp_service.git", {branch, "otp_24"}}}
]}.
{shell, [
  {apps, [wamper, awre, hello_world]}
]}.
{relx,
  [{release, {hello_world, "0.1.0"},
    [
      kernel,
      stdlib,
      sasl,
      %% --------------
      lager,
      jsx,
      wamp_service,
      %% --------------
      hello_world
    ]},
    {dev_mode, false},
    {include_src, false},
    {include_erts, true},
    {extended_start_script, true},
    {sys_config, "./config/dev/sys.config"},
    {vm_args, "./config/dev/vm.args"}
  ]}.
%% == Profiles ==
{profiles, [
  {prod, [
    {relx, [
      {dev_mode, false},
      {include_src, false},
      {include_erts, true},
      {sys_config_src, "./config/prod/sys.config.src"},
      {vm_args_src, "./config/prod/vm.args.src"}
    ]}
  ]},
  {dev, [
    {relx, [
      {dev_mode, false},
      {include_src, false},
      {include_erts, true},
      {sys_config, "./config/dev/sys.config"},
      {vm_args, "./config/dev/vm.args"}
    ]}
  ]},
  {test, [
    {deps, [
      meck,
      {mixer, "0.1.5", {pkg, inaka_mixer}}
    ]},
    {erl_opts, [debug_info, export_all]}
  ]}
]}.
%% =============================================================================
%% PLUGINS
%% =============================================================================
{plugins, [
  rebar3_proper,
  rebar3_auto
]}.
%% =============================================================================
%% TESTING
%% =============================================================================
{shell, [
  {config, "config/dev/sys.config"},
  {vm_args, "./config/dev/vm.args"},
  {apps, [lager, hello_world]}
]}.

{ct_opts, [
  {sys_config, "config/dev/sys.config"},
  {vm_args, "./config/dev/vm.args"}
]}.
